.bg-unloaded {
  background-image: none;
}

.bg-loaded {
  background-image: url("/beyond-mountains.webp");
}

@supports not (background-image: url("/beyond-mountains.webp")) {
  .bg-loaded {
    background-image: url("/beyond-mountains.png");
  }
}
